# editor temporary files
*~
*.swp
*.swo
# converter jar file
res/converter.jar
# compiled python
*.pyc
# pytest cache
.cache
# vim ctags file
tags
# datafile directories
output/
tmp/
edl/
project/
.idea/
symbols/
shadow/
html/
