#!/bin/bash

# Generated run script for cs-studio.

prefix=$${CONVERTER_ROOT:-}

CSSTUDIO=/dls_sw/work/common/CSS/CSS_dls-4.2.x_nightly/cs-studio

PROJECT=${project}
MODULE=${module}
LAUNCH_OPI=/$$PROJECT/$$MODULE/$$1

if [ -z $$LAUNCH_OPI ]; then
    echo "No OPI specified to launch!"
    exit 1
fi

LINKS="${links}"

$$CSSTUDIO --launcher.openFile "$${LAUNCH_OPI} Position=NEW_SHELL -share_link $$LINKS"
