#!/bin/bash

# Generated run script for cs-studio.

CSSTUDIO=/dls_sw/work/common/CSS/CSS_4.0.x_nightly/cs-studio
LAUNCH_OPI=$$1

if [ -z $$LAUNCH_OPI ]; then
    echo "No OPI specified to launch!"
    exit 1
fi

MACROS="${macros}"
LINKS="${links}"

echo $$CSSTUDIO -share_link "$$LINKS" --launcher.openFile "$$LAUNCH_OPI OPI_SHELL=true,$$MACROS;$$LINKS"
$$CSSTUDIO -share_link "$$LINKS" --launcher.openFile "$$LAUNCH_OPI OPI_SHELL=true,$$MACROS¬$$LINKS"
