
body {
    font-family: sans-serif;
}

th {
    font-weight: bold;
}

td {
    text-align: center;
}

.configured {
    background-color: #F6F28B !important;
}

.out-of-date {
    background-color: #FBA799 !important;
}

.no-release {
    background-color: #F99D67 !important;
}

.dep-col {
    border-left: 1px solid black;
}
